**/obj
**/bin
**/debug
CleanArchitecture_sample/src/myBankAccount/src/myBankAccount.Web/database.sqlite
CleanArchitecture_sample/src/myBankAccount/src/myBankAccount.Web/database.sqlite-shm
CleanArchitecture_sample/src/myBankAccount/src/myBankAccount.Web/database.sqlite-wal
CleanArchitecture_sample/src/myBankAccount/src/myBankAccount.Web/log*.txt
