.button{
    border: none;
    text-decoration: none;
    display: inline-block;
}

#MainContainer{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-areas: 
        "btn1 . btn2"
        ". TenSquaresContainer ."
        "btn3 . btn4";
}

#btn1{
    grid-area: btn1;
}

#btn2{
    grid-area: btn2;
}

#btn3{
    grid-area: btn3;
}

#btn4{
    grid-area: btn4;
}

#TenSquaresContainer{
    grid-area: TenSquaresContainer;
    display: grid;
    gap: 10px 10px;
    grid-template-areas: 
    "square1 square2 square3 square4 square5"
    "square6 square7 square8  square9 square10";
}