.square{
    padding-top: 100%;
    height: 1%;
}

#square1{
    grid-area: square1;
}

#square2{
    grid-area: square2;
}

#square3{
    grid-area: square3;
}

#square4{
    grid-area: square4;
}

#square5{
    grid-area: square5;
}

#square6{
    grid-area: square6;
}

#square7{
    grid-area: square7;
}

#square8{
    grid-area: square8;
}

#square9{
    grid-area: square9;
}

#square10{
    grid-area: square10;
}