body{
    height: 100vh;
    width: 100vw;
}

.colour-Red{
    background-color: red;
}
.colour-Blue{
    background-color: blue;
}

.colour-Green{
    background-color: green;
}

.colour-Yellow{
    background-color: yellow;
}